* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    line-height: 1.6;
    height: 100vh;
    top: 0;

}


.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position:fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    background: rgba(0,0,0);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;

}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.4s ease;
}

.navbar ul li a:hover {
    color: plum;
    
}

section {
    display: flex;
    /* flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left; */
    
    /* padding-left: 15%; */
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 3rem;
}

section li {
    list-style: none;
}

section li button {
    margin-top: 75px;
    margin: 20px;
    font-size: 45px;
    border: 0;
    background: none;
    transition: opacity transform 1s;

}

section li button:hover {
    opacity: 0.8;
    transform: scale(1.1);

}

section li button:active {
    opacity: 0.4;

}

section p {
    font-size: 1.5rem;
    /* width: 35%; */
    
}


section#home {
    background: rgb(197, 83, 200) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    
    padding-left: 15%;

}

section#home p {
    width: 35%
}


section#about {
    background: rgb(197, 83, 210) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    /* align-items: right; */
    /* justify-content: center; */
    /* text-align: left; */


}

section#about h1 {
    margin-top: 20%;
    text-align: center;
    /* padding-right: 20%; */

    
}

section#about p {
    text-align: center;
    /* width: 20%; */
    font-size: 1.5rem;

    
   
}


section#about img {
    position: relative;
    /* top: 30%; */
    right: 20%; 
    bottom: 10%;
    /* width: 40vh; */
    height: 50vh;
    object-fit: contain;
    align-self: left;
    /* align-items: left;
    align-content: left; */
    /*text-align: left; */

    /* border-width: 5px;
    border-color: black; */
    
}



section#projects {
    background: rgb(197, 83, 220) no-repeat center center/cover;
    justify-content: center;
    align-items: left;
    /* flex-direction: column; */
    gap: 20px; /* Add space between each item */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* section#projects#panel {
    width: 400px;
    height: 300px;
    background-color: lightgray;
    border: 2px solid gray;

} */

section#resume {
    background: rgb(197, 83, 230) no-repeat center center/cover;
}

section#resume embed {
    margin-top: 5%;
    align-self: center;
    border-width: 5px;
    border-color: black;

}


/* section#contact {
    background: rgb(247, 199, 235) no-repeat center center/cover;
} */